body {
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 14px;
    line-height: 24px;
    font-weight: bold;
	color: #000;
	background: #070707 url("../img/background.jpg") repeat;
	text-transform: uppercase;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.container {
	width: 940px;
    padding: 0px 10px;
	margin: 0 auto;
}

.btn {
    display: inline-block;
    padding: 15px 20px;
    font-family: inherit;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    text-decoration: none;
    background-color: #000;
    border: none;
    cursor: pointer;
}

/*header*/

.main-header {
	width: 100%;
	min-height: 70px;
	font-size: 16px;
	font-weight: bold;
	background-color: #000;
}

.main-navigation {
	float: left;
	width: 790px;
	font-size: 0px;
}

.main-navigation ul{
	padding-left: 20px;
}

.main-navigation li {
	display: inline-block;
	font-size: 16px;
	text-align: left;
	margin-right: 40px;

}

.main-navigation a {
    display: inline-block;
	text-decoration: none;
	line-height: 70px;
	color: #fff;
    border-bottom: 2px solid transparent;
}

.main-navigation a:hover {
    border-bottom: 2px solid #fff;
}

.user-block {
	float: right;
    margin-right: 25px;
}

.user-block a {
    display: inline-block;
	text-decoration: none;
	line-height: 70px;
	color: #fff;
    border-bottom: 2px solid transparent;
}

.user-block a:hover {
    border-bottom: 2px solid #fff;
}

/*main*/


/*footer*/

.main-footer {
    margin-top: 64px;
    padding-top: 60px;
    padding-bottom: 40px;
    background: url(../img/footer-bg.jpg) repeat;
}

.main-footer p {
    color: #fff;
}

.main-footer a {
    text-decoration: none;
    color: #fff;
}

.footer-contacts {
    float: left;
    margin-right: 20px;
    width: 380px;
}

.footer-contacts a {
    float: left;
    width: 140px;
    text-decoration: underline;
}

.footer-social {
    float: left;
    width: 140px;
}

.footer-copyright {
    float: right;
    width: 140px;
}
